body {
  background-color: #fce043;
  background-image: linear-gradient(315deg, #fce043 0%, #fb7ba2 74%);
  color: black
}

.cellMur {
  width:50px; 
  height: 50px; 
  background:orange
}

.cellSol {
  width:50px; 
  height: 50px; 
  background-color: grey
}
.logOutLink{
  color:black;
}

.cellObjectif {
  width:50px; 
  height: 50px; 
  background-color: red
}
