body{
    background-color:#a7270b;
}

div#content form{
    margin-left: auto;
    margin-right: auto;
    top: 30%;
    background-color: white;
    padding: 20px;
    display: block;
    width: fit-content;
    border: 1px ridge none;
    border-radius: 20px;
}

input[type="text"], input[type="password"]{
    background:none;
    border: 2px ridge darkred;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    transition-property: border, color;
    transition-duration: 0.7s;
}
input[type="submit"]{
    background:none;
    border: 2px ridge #000;
    border-radius: 20px;
    transition-property: background-color, color;
    transition-duration: 0.7s;
    padding: 20px;
}
input{
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    outline: none;
}

/* hover */ 

input[type="submit"]:hover{
    background-color:#118a0d;
    color:white;
}

/* focus */

input[type="text"]:focus, input[type="password"]:focus, input[type="text"]:hover, input[type="password"]:hover
{
    border: 2px ridge #118a0d;
}
